/*----------------------header------------------------*/
#header > h1 {
  color: red;
  text-align: center;
  font-style: oblique;
  font-size: xxx-large;
  font-weight: 750
}

#header > h4 {
  text-align: center;
}

/*------------------------------image----------------------------*/
.left-column{
  display: flex;
  max-width: 30vw;
  float: left;
  padding-left: 50px;
}

#bottom img {
  width: 100px;
  height: auto;
}
/*---------------------------text-------------------------------*/
#text {
  width: 30vw;
  float: right;
  padding-right: 50px;
  text-align: right;
}



/*------------------------footer----------------------------- */
.container {
    background-color: lightgray;
    text-align: center;
    height: 350px;
  }
  .container-left {
    display: flex;
    float: left;
    max-width: 50%;
  }
  
  .container-right {
    display: flex;
    float: right;
    width: 50%;
    text-align: left;
  }
  
  button {
    background-color: orangered;
  }
  
  #footer h4 {
    font-weight: 200;
    font-size: small;
  }
  
  label {
    display: block;
    font: 1rem "Fira Sans", sans-serif;
  }
  
  
  input, label {
    margin: .4rem 0;
  }

  
  a[href^="https"]::before {
    content: "🔗 ";
  }
  
  a[href^="mailto"]::before {
    content: "📧 ";
  }
  
  a[href^="tel"]::before {
    content: "📞 ";
  }
  
  li {
    margin-bottom: .2rem;
  }